* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(https://cdn.pixabay.com/photo/2018/07/12/02/32/basil-3532424_1280.jpg);
  background-size: cover;
}

.container {
  width: 80%;
  margin-inline: auto;
  background-color: aliceblue;
}
