* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
html {
  height: 100%;
}

body {
  background-image: url(https://cdn.pixabay.com/photo/2018/07/12/02/32/basil-3532424_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
img {
  max-width: 100%;
}

header {
  background-color: rgb(0, 0, 0, 0.7);
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  width: 50%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 2rem;
  border-color: transparent;
  background-color: rgb(231, 231, 231);
  color: rgb(0, 0, 0, 1);
}
button:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all 0.1s;
}

.nav__btn {
  background-color: transparent;
  color: rgb(231, 231, 231);
}
.nav__btn:hover {
  text-decoration: underline;
  scale: 1.1;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
  color: rgb(231, 231, 231);
}

#content > * {
  border-radius: 25px;
}

.section-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.hero {
  background-color: rgb(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1.5rem 2rem;
  margin-block: 1rem;
  font-size: 1.5rem;
}

.hero__img-container {
  min-height: 300px;
  max-width: 500px;
  margin: 1rem;
  border-radius: 1rem;
}
.img-container {
  background-color: rgb(0, 179, 255);
}
.hero__text-container {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero__text-container__title {
  margin-bottom: 2rem;
}
.hero__text-container__para {
  margin-bottom: 2rem;
}
.hero__text-container__btn {
  align-self: flex-start;
  padding: 0.5rem 3rem;
}

.info,
.contact {
  font-size: 1.2rem;
  background-color: rgb(0, 0, 0, 0.7);
  padding: 1.5rem 2rem;
  margin-block: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info__para {
  max-width: 500px;
  margin: 2rem 1rem;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.info__btn {
  background-color: transparent;
  color: rgb(231, 231, 231);
}
.contact {
  flex-direction: column;
  padding-inline: 3rem;
}
.contact__details {
  padding: 0.5rem 30%;
}
footer {
  margin-top: auto;
  padding-block: 2em;
  text-align: center;
  background-color: rgb(0, 0, 0, 1);
  color: rgb(231, 231, 231);
}
